<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fireseverityapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fireseverityapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NETINPUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fireseverityapp.Welcomepage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fireseverityapp.GPSLocationCapture"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name="com.fireseverityapp.ErrorPage"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" >
        </activity>


        <activity
            android:name="com.fireseverityapp.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.fireseverityapp.RegistrationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NETINPUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fireseverityapp.About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.fireseverityapp.Usermanual"
            android:label="@string/title_activity_usermanual" >
        </activity>
        <activity
            android:name="com.fireseverityapp.About2"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.fireseverityapp.Usermanual2"
            android:label="@string/title_activity_usermanual2" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>